<div class="container">
    <div class="row tiles bg-black" *ngFor="let weather of weatherData;let i = index">
        <div class="col-md-4">
            <h4>{{weather.name}}, {{weather.sys.country}}</h4>
            <h1>{{weather.main.temp}}</h1>
            <h5>{{weather.main.temp_max}} | {{weather.main.temp_min}} <sup> o</sup> C</h5>
        </div>
        <div class="col-md-4">
            <div>Sunrise: {{weather.sys.sunrise | moment}}</div>
            <div>Sunset: {{weather.sys.sunset | moment}}</div>
        </div>
        <div class="col-md-3">
            <figure>
                <img class="cloud-img" src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"
                    alt="{{weather.weather[0].icon}}.png">
                <figcaption class="text-capitalize">{{weather.weather[0].description}}</figcaption>
            </figure>
        </div>
        <div class="btn-sea-level" (click)="getForecast(weather.name, i)">
            {{ showForecastList[i] ? 'Hide Sea Level' :  'Show Sea Level'}}
        </div>
        <div clas="col" *ngIf="showForecastList[i]" class="graph-outer-container">
            <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels"
                [options]="chartOptions" [legend]="true">
            </canvas>
        </div>
        <div class="col tiles" *ngIf="showForecastList[i]">
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let forecast of forecastData">
                        <tr class="table-danger">
                            <td>{{forecast?.dt_txt | date: 'medium'}}</td>
                            <td>SeaLevel : {{forecast?.main.sea_level}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</div>