.tiles {
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.cloud-img {
    background: #00dcff7a;
    border-radius: 35px;
    width: 68px;
}

.text-capitalize{
    text-transform: capitalize;
}

.font-20 {
    font-size: 20px;
}

.btn-sea-level {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    background: #ff7f50c4;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 20px 20px;
    box-shadow: 4px 4px 2px #888888;
    font-weight: 300;
}

.graph-outer-container {
    width: 100%;
    background-color: wheat;
    border-radius: 20px;
    margin-top: 20px;
}