.tiles {
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.cloud-img {
    background: #00dcff7a;
    border-radius: 35px;
    width: 68px;
}

.text-capitalize{
    text-transform: capitalize;
}